
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(30, 30,30);
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  width: 400px;
  
}

.head {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%; 
  align-items: center;
}

.head > img {
  width: 317px;
  height: 317px;
}

.name {
  margin:1px;
}
.job-description {
  color: salmon;
  margin: 1px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  width: 300px;
}

.email-button {
  width: 125px;
  margin-right: 10px;
  border-radius: 8px;
}

.email-button:focus {
  outline-color: transparent;
  outline-style: solid;
}

.email-button:hover {
  cursor: pointer;
  background-color: gray;;
}

.linkedin-button {
  width: 125px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: #5093E2;
  color: white;

}

.linkedin-button:focus {
  outline-color: transparent;
  outline-style: solid;
}

.linkedin-button:hover {
  cursor: pointer;
  background-color: #093e7b;
}

.about {
  width: 100%;
  
}
.section-title {
  color: white;
  padding-left: 2px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.content {
  color: white;
  padding-left: 2px;
  margin: 10px 15px;
  
}

.footer {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  margin-top: 0;
  color: white;
  flex-direction: row;
  justify-content: space-around
}

.footer a:hover {
  color: yellow;
  
}

